.banner-section {
  position: relative;
  
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width:376px){
    height: calc(100vh - 90px);
  }
  .hero-vdo{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%); 
    @media screen and (max-width:376px){
      transform: translateX(-50%) translateY(-61%);
    }
    &.vd-large{
      display: none;
      @media screen and (min-width:768px){
        display: block;
      }
    }
    &.vd-small{
      position: fixed;
      /* top: 0px; */
      /* left: 0px; */
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: 100vh;
      z-index: -1;
      object-fit: fill;
      @media screen and (min-width:768px){
        display: none;
      }
    }
  }

  .bg-overlay {
    z-index: 0;
    background: rgba(0, 0, 0, .32);
  }

  .banner-wrap {
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;


    .banner-header {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
        color: $white;
        font-weight: 400;
        z-index: 1;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        a {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 53px;
          display: flex;
          justify-content: center;
          color: #b5b3b3;
          font-size: 40px;
          text-decoration: none;
          transition: $transition;

          &:hover {
            color: $white;
          }

          &.go-to {
            .arrow {
              width: 47px;
              height: 2.25rem;
              position: relative;
              transition: $transition;

              &:hover {
                transform: translateY(15px);
              }

              span {
                top: 0.5rem;
                position: absolute;
                width: 28px;
                height: 0.1rem;
                background-color: #efefef;
                display: inline-block;
                transition: $transition;

                &:first-of-type {
                  left: 0;
                  transform: rotate(45deg);
                }

                &:last-of-type {
                  right: 0;
                  transform: rotate(-45deg);
                }
              }
            }

            // &:after {
            //   content: '\f078';
            //   font-family: 'Font Awesome 5 Free';
            //   font-weight: 600;
            // }
          }
        }

      }
    }

    .banner-social {
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      .icon-wrap {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          font-size: 18px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-bottom: 10px;
          transition: all .2s ease-in-out;
          text-decoration: none;

          @media screen and (min-width: 768px) {
            width: 40px;
            height: 40px;
          }

          @media screen and (min-width: 992px) {
            width: 50px;
            height: 50px;
            font-size: 26px;
          }

          &:hover {
            // border: 1px solid $primary-color;
            // background-color: $primary-color;
            color: $primary-color;
          }
        }
      }
    }
  }
}