a,
button {

  &.cu-btn {
    border-radius: 0;
    font-size: 14px;
    @media screen and (min-width: 768px){
      font-size: 16px;
    }
    background: transparent;
    color: $secondary-color;
    border-color: $secondary-color;
    transition: $transition;

    &:hover {
      background: $secondary-color;
      border-color: $secondary-color;
      color: $white;
    }
  }
  &.submit-btn{
    border-radius: 0;
    font-size: 14px;
    @media screen and (min-width: 768px){
      font-size: 16px;
    }
    margin-top: 30px;
    border: 1px solid;
    background: $secondary-color;
    color: $white;
    padding: 10px 40px;
    border-radius: .2rem;
    transition: all ease-in-out .5s;
    @media screen and (min-width:375px){
      padding: 10px 50px;
    }
    
    &:first-child{
      margin-right: 0px;
      @media screen and (min-width: 768px) {
        margin-right: 30px;
      }
     
      
    }
    &:hover{
      color: $secondary-color;
      background: $white;
      transition: all ease-in-out .3s;

    }
  }
}