.career-detail {
  &.career-page {
    margin-top: 90px;

    @media screen and (min-width: 768px) {
      margin-top: 70px;
    }
  }

  .date-type {
    margin-top: 30px;

    p {
      color: $text-color;
    }

    .type {
      padding-left: 0px;

      li {
        list-style-type: none;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;

        strong {
          min-width: 150px;
          display: inline-block;
          position: relative;

          &:after {
            content: ':';
            position: absolute;
            right: 15px;

          }
        }
      }

    }
  }

  .job-description {
    margin-top: 20px;

    @media screen and (min-width: 768px) {
      margin-top: 50px;
    }

    p {
      margin-top: 10px;

      @media screen and (min-width: 768px) {
        margin-top: 30px;
      }

      color: $text-color;
    }

    ul {
      padding-left: 20px;

      li {
        color: $text-color;
      }
    }
  }

  .job-form {
    margin-top: 50px;
    overflow-x: hidden;
    .detail-form {
      margin-top: 30px;

      @media screen and (min-width: 768px) {
        width: 70%;
      }

      label {
        color: $text-color;
        font-weight: 600;
      }

      .attachment {
        display: flex;
        align-items: center;
        position: relative;
        .upload-file {
          position: relative;
          min-width: 80px;
          height: 70px;
          border: 1px dashed $footer-txt;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          img {
            width: 40px;
            position: absolute;
          }
        }

        #myfile {
          opacity: 0;
          transform: translateX(-50%);
        }

        .showfile {
          position: absolute;
          left: 100px;
          
        }
      }


    }

    .sharelink-wrap {
      display: inline-block;
      position: relative;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      @media screen and (min-width: 768px) {
        width: auto;
      }

      .careerBtn {
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
          justify-content: initial;
        }
      }

      #shareBlock {
        position: absolute;
        top: -16px;
        right: 0px;

        @media screen and (min-width: 768px) {
          top: -16px;
          right: -43px;
        }

        a {
          i {
            color: rgb(255, 255, 255);

            width: 37px;
            height: 37px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &.fa-facebook-f {
              background: #3b5998;
            }

            &.fa-facebook-messenger {
              background: #006AFF;
            }

            &.fa-linkedin {
              background: #0e76a8;
            }

            &.fa-viber {
              background: #665CAC;
            }

            &.fa-twitter {
              background: #00acee;
            }

            &.fa-envelope {
              background: #939598;
            }
          }
        }
      }

    }

  }
}

.sharelink {
  visibility: hidden;
  opacity: 0;
  transition: $transition;

  &.sharelinkopen {
    opacity: 1;
    visibility: visible;

    a {
      &:first-child {
        animation-name: fadeInUp;
        animation-duration: .3s;
      }

      &:nth-child(2) {
        animation-name: fadeInUp;
        animation-duration: .6s;
      }

      &:nth-child(3) {
        animation-name: fadeInUp;
        animation-duration: .9s;
      }

      &:nth-child(4) {
        animation-name: fadeInUp;
        animation-duration: 1.2s;
      }

      &:last-child {
        animation-name: fadeInUp;
        animation-duration: 1.5s;
      }
    }
  }
}