section {
  &.career {
    background: rgba(239, 239, 239, .39);
    margin-top: 80px;

    .career-content {
      margin-bottom: 30px;
    }

    .career-list {
      position: relative;
      margin-bottom: 20px;
      border: 0px solid transparent!important;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .22), 0 2px 10px 0 rgba(0, 0, 0, 0);
      overflow: hidden;
      &:before {
        content: "";
        border-color: transparent $text-color;
        border-style: solid;
        border-width: 16px 0 16px 16px;
        display: block;
        height: 0;
        width: 0;
        left: -4px;
        top: -14px;
        color: $text-color;
        position: absolute;
        transform: rotate(-136deg);
      }

      &:after {
        content: '';
        position: absolute;
        top: 9px;
        left: -7px;
        width: 32px;
        height: 2px;
        background: $primary-color;
        transform: rotate(-46deg);
      }

      border: 1px solid transparent;
      background-color: #F3F3F3;
      padding: 16px;

      @media screen and (min-width: 768px) {
        padding: 30px;
      }

      .ul-wrap {
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        @media screen and (min-width: 992px) {
          display: flex;
          margin-top: 0;
        }

        ul {
          list-style: none;
          padding-left: 0px;
          margin-bottom: 15px;

          @media screen and (min-width: 992px) {
            display: flex;
            margin-bottom: 0;
          }

          li {
            display: flex;
            padding-right: 0px;

            @media screen and (min-width: 768px) {
              padding-right: 30px;
            }

            &>* {
              margin-right: 20px;

              &:last-child {
                margin-right: 0;
              }
            }

            label {
              position: relative;
              font-size: 14px;
              min-width: 84px;
              
              @media screen and (min-width:425px) {
                width: 85px;

              }

              @media screen and (min-width:768px) {
                width: 150px;
                font-size: 16px;
              }

              @media screen and (min-width:992px) {
                width: auto;
                min-width: 30px;
              }

              &:after {
                content: ":";
                position: absolute;
                right: -10px;
              }


            }

            &.dept {
              width: auto;

              @media screen and (min-width:992px) {
                width: 430px;
              }
            }
          }
        }

        a.readmore-btn {
          border: 1px solid $secondary-color;
          background: $white;
          color: $secondary-color;
          border-radius: 0px;
          padding: 5px 20px;
          transition: all ease-in-out 0.3s;

          &:hover {
            background: $secondary-color;
            color: $white;
            transition: all ease-in-out 0.3s;
          }

        }
      }

    }

  }
}