body {
  font-family: 'CG-Font', sans-serif;
}

section {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &.section-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.home-section-slider {
    margin-top: -10px;
  }

  &.siblingClass {
    &:not(.banner-section) {
      margin-top: 78px;
    }
  }
}

.pageheader {
  font-family: 'Poppins', sans-serif;
  font-weight: 700 !important;
}


h1 {
  &.header {
    font-size: 45px;
    font-weight: 600;

    @media screen and (min-width: 768px) {
      font-size: 52px;
    }

    @media screen and (min-width: 992px) {
      font-size: 75px;
    }
  }
}

h2 {
  font-size: 24px;

  font-weight: bold;

  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }
}

h3 {
  &.sub-header {
    font-size: 22px;

    @media screen and (min-width: 768px) {
      font-size: 1.75rem;
    }
  }
}

h5 {
  &.title {
    font-size: 18px;
    font-weight: 600;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
  }
}

.bold {
  font-weight: 600;
}

.w50 {
  width: 50%;
}

.career {
  p {
    color: $text-color;
  }
}

.upper {
  text-transform: uppercase;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;



  &.bg-overlay {
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 260px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 150px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);

      @media screen and (min-width: 992px) {
        height: 250px;
      }
    }

    &.rev-overlay {
      &:before {
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .14) 100%);
      }

      &:after {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%);
      }
    }
  }
}

span {
  &.star {
    display: inline-block;
    padding-left: 5px;
    color: #FF0000;
  }
}