.ourstory {
  padding-bottom: 30px;

  .story_desc {
    margin-top: 25px;
  }

  .vision_mission {

    .corporate_visio {
      margin-top: 25px;
      @media screen and (min-width: 992px){
        margin-top: 50px;
      }
      display: flex;
      align-items: flex-start;

      .vision_img {
        position: relative;
        height: 100px;

        .bg-color {
          width: 60px;
          height: 60px;
          border-radius: 44px;
          background: rgba($color: $footer-txt, $alpha: .15);

          @media screen and (min-width: 768px) {
            width: 79px;
            height: 81px;
          }
        }

        img {
          position: absolute;
          top: 0px;
          left: 0px;
          padding: 12px;
        }
      }

      .vision_txt {
        margin-left: 15px;
        .title {
          font-weight: bold;
        }
      }

    }
  }
}