.our-work {
  background: rgba(239, 239, 239, .39);
  margin-top: 80px;
  .career-detail {
    .date-type {
      .type {
        li {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          strong {
            width: 30%;
            display: flex;
            align-items: flex-start;

            @media screen and (max-width:374px) {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .work-section {
    padding-top: 20px;
    border-bottom: 1px solid #eeeeee;

    &:nth-child(2) {
      padding-top: 50px;
    }

    &:last-child {
      border: 0;
      margin-bottom: 0px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }

    .work-col {
      .custom-card {
        position: relative;

        .search-icn {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 41px;
          height: 40px;
          background: #212529bd;
          padding: 6px 6px 9px 10px;

        }
        .youtube-logo{
          top: 0px;
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 6px 6px 9px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 100px;
            height: 100px;
            background: #21252954;
            padding: 17px;
            border-radius: 46px;
          }
        }
      }

      .work-txt {
        padding: 0;

        @media screen and (min-width:992px) {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          align-items: center;
          padding: 40px;
        }

        .work-wrap {
          margin-top: 20px;

          @media screen and (min-width:768px) {
            margin-top: 0px;
          }
        }

        .date-type {
          span {
            display: inline-block;
            width: 75%;
            padding-left: 10px;
            text-align: start;
          }
        }

      }

      .modal{
        .modal-dialog{
          .modal-content{
            .modal-body{
              .close{
                background: transparent;
              }
              
            }  
          }  
        }
      }
      .modal-youtube{
        .modal-dialog{
          .modal-content{
            .modal-body{
              .carousel{
                overflow: hidden;
                height: 500px;
              }
            }
          }
        }
      } 
    }

  }

  .row-reverse {
    flex-direction: row-reverse;

    .work-col {
      .reverse-card {
        .search-icn {
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 41px;
          height: 40px;
          background: #212529bd;
          padding: 6px 6px 9px 10px;
        }
        
      }

      .work-txt {
        .work-wrap {
          .date-type {
            .type {
              li {
                @media screen and (min-width:768px) {
                  justify-content: flex-end;
                  display: flex;
                  align-items: flex-start;

                  span {
                    display: inline-block;
                    width: 75%;
                  }
                }

              }
            }
          }
        }
      }
    }
  }

  .work-pagination {
    .pagination {
      justify-content: center;

      .page-item {
        .page-link {
          background-color: #EEEEEE;
          color: $secondary-color;
          border: 0px;

          &:focus {
            box-shadow: none;
          }

        }

        &.active {
          .page-link {
            background-color: $secondary-color;
            color: $white;
            border-color: $secondary-color;
          }
        }

      }

    }
  }
}