.ourwork_detail_banner{
  margin-top: 80px;
}
.ourwork_detail{
  .title-border{
    padding-bottom: 20px;
    border-bottom: 1px solid #F3F3F3;
    
  }
  .work_map{
    margin-top: 40px;
    .service-map{
      margin-bottom: 0px;
      padding: 0px;
      .container{
        padding:0px;
        .map-width{
          height: 500px;
        }
      }
    }
    a{
      color:#333;
      &:hover{
        text-decoration: none;
      }
      p{
        margin-top: 20px;
      }
    }
    
  }
  .detail_informatbion_order{
    margin-top: 20px;
    @media screen and (min-width:768px){
      margin-top: 0px;
    }
  }
  .detail_information{
    ul{
      padding: 0px;
      margin-top: 40px;
      li{
        display: flex;
        margin-bottom: 35px;
        strong{
          width: 30%;
          min-width: 150px;
        }
        span{
          width: 70%;
        }
        
      }
      .last-li{
        margin-bottom: 10px;
      }
    }
  }
  .detail-button{
    button{
      @media screen and (min-width:992px){
        padding: 10px 48px;  
      } 
      
    }
  }
}
