doctype html
html(lang='en')
	include ./components/_head.pug
	body
		main
			include ./components/_header.pug
			include ./components/_homebanner.pug
			include ./components/_homesection1.pug
			include ./components/_homesection2.pug
			include ./components/_footer.pug
