doctype html
html(lang='en')
	include ./components/_head.pug
	body
		main
			include ./components/_other-header.pug
			section.our-work 
				.container
					h3.sub-header.pageheader RECENT CAMPAIGNS
					.work-section
						.row
							.col-md-5.work-col 
								.custom-card(data-toggle="modal" data-target="#imageModal-2")
									img.img-fluid(src="./assets/images/uploads/our_work_2.png", alt="")
									//- .search-icn 
									//- 	img(src="./assets/images/icons/plus.svg", alt="")
									.youtube-logo 
										img(src="./assets/images/icons/play-button-black.png", alt="")
								#imageModal-2.modal.modal-youtube.fade.videopopup(tabindex='-1' role='dialog' aria-labelledby='imageModal-2' aria-hidden='true')
									.modal-dialog.modal-lg.modal-dialog-centered.cu-modal(role='document')
										.modal-content
											.modal-body
												button.close(type='button' data-dismiss='modal' aria-label='Close')
													span(aria-hidden='true')
												#imageCarousel-2.carousel.slide(data-ride='carousel')
													iframe(width='100%', height='500px', src='https://www.youtube.com/embed/wV3N-wCRL2k')

													
							.col-md-6.work-col
								.work-txt.career-detail
									.work-wrap
										h5.title OOREDOO
										.date-type 
											ul.type 
												li 
													strong.type-label.bold Client 
													span OOREDOO Myanmar
												li 
													strong.type-label.bold Media Assets 
													span Yangon International Airport, LED Screen Network, Yangon Bus Shelters, Rural Campaign
												li 
													strong.type-label.bold Duration 
													span January 2020 to May 2021
												li 
													strong.type-label.bold Location 
													span Yangon International Airport, Minglardon, Insein, North Okkalapa, Hlaing Thar Yar and 41 Major Township of Metro Regions.
												li 
													p Ooredoo Myanmar was launched the campaigns Yangon International Airport which is called very first impression of Yangon City, engaging to the metropolitan people at Bus Shelter Media and the gate way of Yangon.
					.work-section
						.row.row-reverse 
							.col-md-5.work-col 
								.custom-card.reverse-card(data-toggle="modal" data-target="#imageModal-1")
									img.img-fluid(src="./assets/images/uploads/our_work_1.png", alt="")
									.search-icn
										img(src="./assets/images/icons/plus.svg", alt="")
								#imageModal-1.modal.fade(tabindex='-1' role='dialog' aria-labelledby='imageModal-1' aria-hidden='true')
									.modal-dialog.modal-lg.modal-dialog-centered.cu-modal(role='document')
										.modal-content
											.modal-body
												button.close(type='button' data-dismiss='modal' aria-label='Close')
													span(aria-hidden='true')
												#imageCarousel-1.carousel.slide(data-ride='carousel')
													.carousel-inner
														.carousel-item.active
															img.img-fluid(src='./assets/images/uploads/our_work_1.png' alt='Slide Image')
														.carousel-item
															img.img-fluid(src='./assets/images/uploads/our_work_1_1.png' alt='Slide Image')
														.carousel-item
															img.img-fluid(src='./assets/images/uploads/our_work_1_2.png' alt='Slide Image')

													ol.carousel-indicators.modal-slide-thumbnail
														li.active(data-target='#imageCarousel-1' data-slide-to='0')
															img.img-fluid(src='./assets/images/uploads/our_work_1.png' alt='Slide Image')
														li(data-target='#imageCarousel-1' data-slide-to='1')
															img.img-fluid(src='./assets/images/uploads/our_work_1_1.png' alt='Slide Image')
														li(data-target='#imageCarousel-1' data-slide-to='2')
															img.img-fluid(src='./assets/images/uploads/our_work_1_2.png' alt='Slide Image')
							.col-md-6.work-col
								.work-txt.career-detail
									.work-wrap
										h5.title MYANMAR VB
										.date-type 
											ul.type 
												li 
													strong.type-label.bold Client 
													span Myanmar VB
												li 
													strong.type-label.bold Media Assets 
													span LED Screen Network and Mall Indoor
												li 
													strong.type-label.bold Duration 
													span July 2019 to April 2020
												li 
													strong.type-label.bold Location 
													span Yangon International Airport and Shopping Mall Area
												li 
													p Myanmar VB was launched the advertising campaigns at LED Screen of the gate way of Yangon International Airport and creating the shoppers’ journey call inside of City Mart at Thamine City Mart, Myay Ni Gone City Mart, North Point Ocean, St. John City mall and Hledan Shopping Center and Tamwe Ocean Center.
					.work-section
						.row
							.col-md-5.work-col 
								.custom-card(data-toggle="modal" data-target="#imageModal-3")
									img.img-fluid(src="./assets/images/uploads/our_work_3_2.png", alt="")
									.search-icn
										img(src="./assets/images/icons/plus.svg", alt="")
								#imageModal-3.modal.fade(tabindex='-1' role='dialog' aria-labelledby='imageModal-3' aria-hidden='true')
									.modal-dialog.modal-lg.modal-dialog-centered.cu-modal(role='document')
										.modal-content
											.modal-body
												button.close(type='button' data-dismiss='modal' aria-label='Close')
													span(aria-hidden='true')
												#imageCarousel-3.carousel.slide(data-ride='carousel')
													.carousel-inner
														.carousel-item.active
															img.img-fluid(src='./assets/images/uploads/our_work_3.png' alt='Slide Image')
														.carousel-item
															img.img-fluid(src='./assets/images/uploads/our_work_3_1.png' alt='Slide Image')
														.carousel-item
															img.img-fluid(src='./assets/images/uploads/our_work_3_2.png' alt='Slide Image')

													ol.carousel-indicators.modal-slide-thumbnail
														li.active(data-target='#imageCarousel-3' data-slide-to='0')
															img.img-fluid(src='./assets/images/uploads/our_work_3.png' alt='Slide Image')
														li(data-target='#imageCarousel-3' data-slide-to='1')
															img.img-fluid(src='./assets/images/uploads/our_work_3_1.png' alt='Slide Image')
														li(data-target='#imageCarousel-3' data-slide-to='2')
															img.img-fluid(src='./assets/images/uploads/our_work_3_2.png' alt='Slide Image')
							.col-md-6.work-col
								.work-txt.career-detail
									.work-wrap
										h5.title SAMSUNG
										.date-type 
											ul.type 
												li 
													strong.type-label.bold Client 
													span Samsung Myanmar
												li 
													strong.type-label.bold Media Assets 
													span Large Format, LED Screen Network and Mall External
												li 
													strong.type-label.bold Duration 
													span January 2020 to December 2020
												li 
													strong.type-label.bold Location 
													span Yangon International Airport, Shopping Mall Area and Taunggy
												li 
													p Samsung Myanmar was launched the advertising campaigns at Yangon International Airport and engaging to the digital generations, modern family and consumers at Hledan Center and Taunggyi city to get the attention and engaging to the wide reach of major city.
						//- .work-pagination 
						//- 	nav(aria-label='...')
						//- 		ul.pagination
						//- 			li.page-item.disabled
						//- 				span.page-link <
						//- 			li.page-item
						//- 				a.page-link(href='#') 1
						//- 			li.page-item.active
						//- 				span.page-link
						//- 					| 2
						//- 					span.sr-only (current)
						//- 			li.page-item
						//- 				a.page-link(href='#') 3
						//- 			li.page-item
						//- 				a.page-link(href='#') >	
	include ./components/_footer.pug