doctype html
html(lang='en')
  include ./components/_head.pug
  body
    main
      include ./components/_other-header.pug
      section.service-section.service-wrapper-margin
        .container
          .row
            .col-12
              h3.sub-header.upper.pageheader What We Do
            .col-12
              | A leading provider of out-of-home advertising solutions in Myanmar for 25 years.
              br
              | The leader in premium media walls advertising in Yangon with extensive coverage across key environments.
              br
              | Exclusive rights for advertising at City Mall @ St. John, Hledan Center, Ocean Tarmwe, Airport Outdoor and other premium locations.
              br
              | Number one provider of nationwide campaigns, capable of delivering up to 100 sites outside Yangon.
              br
              | Over 100 Bus Shelter Network in Yangon
      section.services-search.pt-2.pb-2.search-section-update
        .container 
          form
            .search-section
              select.browser-default.custom-select-form
                option.selected Media Code
                option(value="1") One 
                option(value="2") Two 
              select.browser-default.custom-select-form
                option.selected Media Type
                option(value="1") One 
                option(value="2") Two 
              select.browser-default.custom-select-form
                option.selected Location
                option(value="1") One 
                option(value="2") Two 
              button.submit-btn.btn.upper(type="submit") search
        
      section.service-section
        .container
          .row
            include ./data/homedata.pug
            
            
            .col-md-6.col-lg-4.mb-5
              .card.service-card(data-toggle="modal" data-target="#imageModal-" + i)
                .card-overlay
                .slide.service-carousel(data-interval="1000")
                  .carousel-inner
                    .carousel-item.active
                      img.w-100(src='./assets/images/uploads/default.jpg' alt='Slide Image')
                  
                    .carousel-item
                      img.w-100(src='./assets/images/uploads/default.jpg' alt='Slide Image')
                a.card-title-link(href="product_detail.html") 
                  .card-body.service-title
                    h4.card-title 
                      span Yangon International Airport
                      i.fas.fa-external-link-alt
            .col-md-6.col-lg-4.mb-5
              .card.service-card(data-toggle="modal" data-target="#imageModal-" + i)
                .card-overlay
                .slide.service-carousel(data-interval="1000")
                  .carousel-inner
                    .carousel-item.active
                      img.w-100(src='./assets/images/uploads/default.jpg' alt='Slide Image')
                  
                    .carousel-item
                      img.w-100(src='./assets/images/uploads/default.jpg' alt='Slide Image')
                a.card-title-link(href="product_detail.html") 
                  .card-body.service-title
                    h4.card-title 
                      span Yangon
                      i.fas.fa-external-link-alt
            .col-md-6.col-lg-4.mb-5
              .card.service-card(data-toggle="modal" data-target="#imageModal-" + i)
                .card-overlay
                .slide.service-carousel(data-interval="1000")
                  .carousel-inner
                    .carousel-item.active
                      img.w-100(src='./assets/images/uploads/default.jpg' alt='Slide Image')
                  
                    .carousel-item
                      img.w-100(src='./assets/images/uploads/default.jpg' alt='Slide Image')
                a.card-title-link(href="product_detail.html") 
                  .card-body.service-title
                    h4.card-title 
                      span Yangon
                      i.fas.fa-external-link-alt 
            .col-md-6.col-lg-4.mb-5
              a(href="#")
                  .card.service-card(data-toggle="modal" data-target="#imageModal-" + i)
                  
                    .slide.service-carousel(data-interval="1000")
                      .carousel-inner
                        .carousel-item.active
                          iframe(width='100%', frameborder='0px', height='375px', src='https://www.youtube.com/embed/hl4cmSvms98' allowfullscreen)
                            
                    a.card-title-link(href="product_detail.html") 
                      .card-body.service-title
                        h4.card-title 
                          span Yangon
                          i.fas.fa-external-link-alt
            .col-md-6.col-lg-4.mb-5
              a(href="#")
                  .card.service-card(data-toggle="modal" data-target="#imageModal-" + i)
                  
                    .slide.service-carousel(data-interval="1000")
                      .carousel-inner
                        .carousel-item.active
                          iframe(width='100%', frameborder='0px', height='375px', src='https://www.youtube.com/embed/hl4cmSvms98' allowfullscreen)
                            
                    a.card-title-link(href="product_detail.html") 
                      .card-body.service-title
                        h4.card-title 
                          span Yangon
                          i.fas.fa-external-link-alt   
            .col-md-6.col-lg-4.mb-5
              a(href="#")
                  .card.service-card(data-toggle="modal" data-target="#imageModal-" + i)
                  
                    .slide.service-carousel(data-interval="1000")
                      .carousel-inner
                        .carousel-item.active
                          iframe(width='100%', frameborder='0px', height='375px', src='https://www.youtube.com/embed/hl4cmSvms98' allowfullscreen)
                            
                    a.card-title-link(href="product_detail.html") 
                      .card-body.service-title
                        h4.card-title 
                          span Yangon
                          i.fas.fa-external-link-alt
          //- pagination
          .pagination_btn
            .pagination-section 
              nav(aria-label='...')
                ul.pagination
                  li.page-item.disabled
                    a.page-link(href='#', tabindex='-1') 
                      i.fas.fa-angle-left 
                  li.page-item
                    a.page-link(href='#') 1
                  li.page-item.active
                    a.page-link(href='#')
                      | 2 
                      span.sr-only (current)
                  
                  
                  li.page-item
                    a.page-link(href='#') 
                      i.fas.fa-angle-right  
            button.submit-btn.btn.upper.btn-search(type="submit") ENQUIRY    
                
      //- location map  
      include ./components/_map.pug
      include ./components/_footer.pug
      
