section.aboutus-header
	.container
		h3.sub-header.upper.pageheader Who We Are
section.branchandmap-wrapper
	.container
		h5.title Branches & Map
		.allbrandandwrap
			.tabheader
				ul#myTab.nav.nav-tabs(role='tablist')
					li.nav-item
						a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') 
							img.img-fluid.flag(src="./assets/images/icons/myanmar.svg", alt="")
							span Yangon
					li.nav-item
						a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false')
							img.img-fluid.flag(src="./assets/images/icons/malaysia.svg", alt="")
							span Kuala Lumpur
					li.nav-item
						a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false')
							img.img-fluid.flag(src="./assets/images/icons/thailand.svg", alt="")
							span Thailand
					li.nav-item
						a#about-tab.nav-link(data-toggle='tab', href='#about', role='tab', aria-controls='about', aria-selected='false')
							img.img-fluid.flag(src="./assets/images/icons/cambodia.svg", alt="")
							span Phnom Penh
			.barnch-wrap
				#myTabContent.tab-content
					#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
						.tab-wrap
							.branchmap
								img.img-fluid(src="./assets/images/uploads/Myanmar-map.png", alt="")
							.branchtext
								h5.title Myanmar Ganad Advertising Co. Ltd.
								p
									| We being the first international outdoor company to enter Myanmar in 1996 allowed fast dominance of the local outdoor advertising landscape. The Yangon office oversees more than 100 billboards, LED sites and bus shelter network in the country.With Myanmar now rapidly opening up to foreign investment, we are poised to help new market entrants quickly build their brand presence.
					#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
						.tab-wrap
							.branchmap
								img.img-fluid(src="./assets/images/uploads/malaysia-map.png", alt="")
							.branchtext
								h5.title Ganad Media Sdn Bhd
								p
									| Ganad’s contributions to outdoor advertising cannot be discounted. Since our inception in 1986, we have assisted countless organisations to go beyond industry norms and explore exciting ways to grow their customer base – in the process introducing innovations now synonymous with the industry.Our team of experts bring to the table extensive experience in meeting the demands of clients and continuing to set the pace for our competitors.
					#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
						.tab-wrap
							.branchmap
								img.img-fluid(src="./assets/images/uploads/Thai-map.png", alt="")
							.branchtext
								h5.title Ganad-Thai Co. Ltd.
								p
									| Ganad’s first foray overseas in 1994 has transformed into one of Thailand’s most reputable media owners. Equipped with assistance from the Malaysian head office and ganad builders, we own a number of prominent billboards densely-populated Bangkok.
					#about.tab-pane.fade(role='tabpanel', aria-labelledby='about-tab')
						.tab-wrap
							.branchmap
								img.img-fluid(src="./assets/images/uploads/cambodia-map.png", alt="")
							.branchtext
								h5.title Ganad Advertising Co. Ltd.
								p
									| Incorporated in 1996, Ganad Khmer offers a beefier repertoire of services. In addition to outdoor advertising, the Phnom Penh workforce is capable of multimedia production, graphic design, photography and offset printing.Armed with the same assistance enjoyed by its Thai counterpart, Ganad Khmer has been helping countless clients build their brands in Cambodia.