section.contactus
  .container
    .row
      .col-12
        h3.sub-header.upper.pageheader Contact Us
    .row.contact-form
      .col-md-6
        h5.title.page-title Enquiry
        .contact-from
          form
            .form-group
              label(for='name') Name
              span.star *
              input#exampleFormControlInput1.form-control(type='text', required='')
            .form-group
              label(for='email') Job Position
              input#exampleFormControlInput1.form-control(type='text',  required='')
            .form-group
              label(for='email') Email
              span.star *
              input#exampleFormControlInput1.form-control(type='email',  required='')
            .form-group
              label(for='phone') phone
              span.star *
              input#exampleFormControlInput1.form-control(type='text', )
            .form-group
              label(for='phone') Company
              span.star *
              input#exampleFormControlInput1.form-control(type='text', )
            .form-group
              label(for='sel1') Company Size
              span.star *
              select#sel1.form-control
                option(value='Less than 10 employees')
                  | Less than 10 employees
                option(value='10-20 employees')
                  | 10-20 employees
                option(value='20-100 employees')
                  | 20-100 employees
                option(value='100+ employees')
                  | 100+ employees
            .form-group
              label(for='sel1') Country
              span.star *
              select#sel1.form-control
                option(disabled='1')
                  | Asia & Oceania
                option(value='13')
                  | Australia
                option(value='116')
                  | Cambodia
                option(value='48')
                  | China
                option(value='94')
                  | Hong Kong
                option(value='100')
                  | Indonesia
                option(value='113')
                  | Japan
                option(value='157')
                  | Malaysia
                option(value='145')
                  | Myanmar
                option(value='197')
                  | Singapore
                option(value='217')
                  | Thailand
                option(value='241')
                  | Vietnam
                option(disabled='1')
                  | Americas
                option(value='156')
                  | Mexico
                option(value='233')
                  | United States
                option(disabled='1')
                  | Other countries
                option(value='3')
                  | Afghanistan
                option(value='6')
                  | Albania
                option(value='62')
                  | Algeria
                option(value='11')
                  | American Samoa
                option(value='1')
                  | Andorra
                option(value='8')
                  | Angola
                option(value='5')
                  | Anguilla
                option(value='9')
                  | Antarctica
                option(value='4')
                  | Antigua and Barbuda
                option(value='10')
                  | Argentina
                option(value='7')
                  | Armenia
                option(value='14')
                  | Aruba
                option(value='12')
                  | Austria
                option(value='16')
                  | Azerbaijan
                option(value='32')
                  | Bahamas
                option(value='23')
                  | Bahrain
                option(value='19')
                  | Bangladesh
                option(value='18')
                  | Barbados
                option(value='36')
                  | Belarus
                option(value='20')
                  | Belgium
                option(value='37')
                  | Belize
                option(value='25')
                  | Benin
                option(value='27')
                  | Bermuda
                option(value='33')
                  | Bhutan
                option(value='29')
                  | Bolivia
                option(value='30')
                  | Bonaire, Sint Eustatius and Saba
                option(value='17')
                  | Bosnia and Herzegovina
                option(value='35')
                  | Botswana
                option(value='34')
                  | Bouvet Island
                option(value='31')
                  | Brazil
                option(value='105')
                  | British Indian Ocean Territory
                option(value='28')
                  | Brunei Darussalam
                option(value='22')
                  | Bulgaria
                option(value='21')
                  | Burkina Faso
                option(value='24')
                  | Burundi
                option(value='47')
                  | Cameroon
                option(value='38')
                  | Canada
                option(value='52')
                  | Cape Verde
                option(value='123')
                  | Cayman Islands
                option(value='40')
                  | Central African Republic
                option(value='214')
                  | Chad
                option(value='46')
                  | Chile
                option(value='48')
                  | China
                option(value='54')
                  | Christmas Island
                option(value='39')
                  | Cocos (Keeling) Islands
                option(value='49')
                  | Colombia
                option(value='118')
                  | Comoros
                option(value='42')
                  | Congo
                option(value='45')
                  | Cook Islands
                option(value='50')
                  | Costa Rica
                option(value='97')
                  | Croatia
                option(value='51')
                  | Cuba
                option(value='53')
                  | Curaçao
                option(value='55')
                  | Cyprus
                option(value='56')
                  | Czech Republic
                option(value='44')
                  | Côte d'Ivoire
                option(value='41')
                  | Democratic Republic of the Congo
                option(value='59')
                  | Denmark
                option(value='58')
                  | Djibouti
                option(value='60')
                  | Dominica
                option(value='61')
                  | Dominican Republic
                option(value='63')
                  | Ecuador
                option(value='65')
                  | Egypt
                option(value='209')
                  | El Salvador
                option(value='87')
                  | Equatorial Guinea
                option(value='67')
                  | Eritrea
                option(value='64')
                  | Estonia
                option(value='69')
                  | Ethiopia
                option(value='72')
                  | Falkland Islands
                option(value='74')
                  | Faroe Islands
                option(value='71')
                  | Fiji
                option(value='70')
                  | Finland
                option(value='75')
                  | France
                option(value='79')
                  | French Guiana
                option(value='174')
                  | French Polynesia
                option(value='215')
                  | French Southern Territories
                option(value='76')
                  | Gabon
                option(value='84')
                  | Gambia
                option(value='78')
                  | Georgia
                option(value='57')
                  | Germany
                option(value='80')
                  | Ghana
                option(value='81')
                  | Gibraltar
                option(value='88')
                  | Greece
                option(value='83')
                  | Greenland
                option(value='77')
                  | Grenada
                option(value='86')
                  | Guadeloupe
                option(value='91')
                  | Guam
                option(value='90')
                  | Guatemala
                option(value='82')
                  | Guernsey
                option(value='85')
                  | Guinea
                option(value='92')
                  | Guinea-Bissau
                option(value='93')
                  | Guyana
                option(value='98')
                  | Haiti
                option(value='95')
                  | Heard Island and McDonald Islands
                option(value='236')
                  | Holy See (Vatican City State)
                option(value='96')
                  | Honduras
                option(value='99')
                  | Hungary
                option(value='108')
                  | Iceland
                option(value='104')
                  | India
                option(value='107')
                  | Iran
                option(value='106')
                  | Iraq
                option(value='101')
                  | Ireland
                option(value='103')
                  | Isle of Man
                option(value='102')
                  | Israel
                option(value='109')
                  | Italy
                option(value='111')
                  | Jamaica
                option(value='110')
                  | Jersey
                option(value='112')
                  | Jordan
                option(value='124')
                  | Kazakhstan
                option(value='114')
                  | Kenya
                option(value='117')
                  | Kiribati
                option(value='250')
                  | Kosovo
                option(value='122')
                  | Kuwait
                option(value='115')
                  | Kyrgyzstan
                option(value='125')
                  | Laos
                option(value='134')
                  | Latvia
                option(value='126')
                  | Lebanon
                option(value='131')
                  | Lesotho
                option(value='130')
                  | Liberia
                option(value='135')
                  | Libya
                option(value='128')
                  | Liechtenstein
                option(value='132')
                  | Lithuania
                option(value='133')
                  | Luxembourg
                option(value='147')
                  | Macau
                option(value='143')
                  | Macedonia, the former Yugoslav Republic of
                option(value='141')
                  | Madagascar
                option(value='155')
                  | Malawi
                option(value='154')
                  | Maldives
                option(value='144')
                  | Mali
                option(value='152')
                  | Malta
                option(value='142')
                  | Marshall Islands
                option(value='149')
                  | Martinique
                option(value='150')
                  | Mauritania
                option(value='153')
                  | Mauritius
                option(value='246')
                  | Mayotte
                option(value='73')
                  | Micronesia
                option(value='138')
                  | Moldova
                option(value='137')
                  | Monaco
                option(value='146')
                  | Mongolia
                option(value='139')
                  | Montenegro
                option(value='136')
                  | Morocco
                option(value='158')
                  | Mozambique
                option(value='159')
                  | Namibia
                option(value='167')
                  | Nepal
                option(value='165')
                  | Netherlands
                option(value='160')
                  | New Caledonia
                option(value='170')
                  | New Zealand
                option(value='164')
                  | Nicaragua
                option(value='161')
                  | Niger
                option(value='163')
                  | Nigeria
                option(value='169')
                  | Niue
                option(value='162')
                  | Norfolk Island
                option(value='120')
                  | North Korea
                option(value='148')
                  | Northern Mariana Islands
                option(value='166')
                  | Norway
                option(value='171')
                  | Oman
                option(value='177')
                  | Pakistan
                option(value='184')
                  | Palau
                option(value='172')
                  | Panama
                option(value='175')
                  | Papua New Guinea
                option(value='185')
                  | Paraguay
                option(value='173')
                  | Peru
                option(value='176')
                  | Philippines
                option(value='180')
                  | Pitcairn Islands
                option(value='178')
                  | Poland
                option(value='183')
                  | Portugal
                option(value='181')
                  | Puerto Rico
                option(value='186')
                  | Qatar
                option(value='188')
                  | Romania
                option(value='190')
                  | Russian Federation
                option(value='191')
                  | Rwanda
                option(value='187')
                  | Réunion
                option(value='26')
                  | Saint Barthélémy
                option(value='198')
                  | Saint Helena, Ascension and Tristan da Cunha
                option(value='119')
                  | Saint Kitts and Nevis
                option(value='127')
                  | Saint Lucia
                option(value='140')
                  | Saint Martin (French part)
                option(value='179')
                  | Saint Pierre and Miquelon
                option(value='237')
                  | Saint Vincent and the Grenadines
                option(value='244')
                  | Samoa
                option(value='203')
                  | San Marino
                option(value='192')
                  | Saudi Arabia
                option(value='204')
                  | Senegal
                option(value='189')
                  | Serbia
                option(value='194')
                  | Seychelles
                option(value='202')
                  | Sierra Leone
                option(value='251')
                  | Singao
                option(value='210')
                  | Sint Maarten (Dutch part)
                option(value='201')
                  | Slovakia
                option(value='199')
                  | Slovenia
                option(value='193')
                  | Solomon Islands
                option(value='205')
                  | Somalia
                option(value='247')
                  | South Africa
                option(value='89')
                  | South Georgia and the South Sandwich Islands
                option(value='121')
                  | South Korea
                option(value='207')
                  | South Sudan
                option(value='68')
                  | Spain
                option(value='129')
                  | Sri Lanka
                option(value='182')
                  | State of Palestine
                option(value='195')
                  | Sudan
                option(value='206')
                  | Suriname
                option(value='200')
                  | Svalbard and Jan Mayen
                option(value='212')
                  | Swaziland
                option(value='196')
                  | Sweden
                option(value='43')
                  | Switzerland
                option(value='211')
                  | Syria
                option(value='208')
                  | São Tomé and Príncipe
                option(value='227')
                  | Taiwan
                option(value='218')
                  | Tajikistan
                option(value='228')
                  | Tanzania
                option(value='223')
                  | Timor-Leste
                option(value='216')
                  | Togo
                option(value='219')
                  | Tokelau
                option(value='222')
                  | Tonga
                option(value='225')
                  | Trinidad and Tobago
                option(value='221')
                  | Tunisia
                option(value='224')
                  | Turkey
                option(value='220')
                  | Turkmenistan
                option(value='213')
                  | Turks and Caicos Islands
                option(value='226')
                  | Tuvalu
                option(value='232')
                  | USA Minor Outlying Islands
                option(value='230')
                  | Uganda
                option(value='229')
                  | Ukraine
                option(value='2')
                  | United Arab Emirates
                option(value='231')
                  | United Kingdom
                option(value='234')
                  | Uruguay
                option(value='235')
                  | Uzbekistan
                option(value='242')
                  | Vanuatu
                option(value='238')
                  | Venezuela
                option(value='239')
                  | Virgin Islands (British)
                option(value='240')
                  | Virgin Islands (USA)
                option(value='243')
                  | Wallis and Futuna
                option(value='66')
                  | Western Sahara
                option(value='245')
                  | Yemen
                option(value='248')
                  | Zambia
                option(value='249')
                  | Zimbabwe
                option(value='15')
                  | Åland Islands
            .form-group
              label(for='message') Your Inquiry
              textarea#exampleFormControlTextarea1.form-control(rows='5')
            .form-group
              button.submit-btn(type='submit') Submit
      .col-md-6.visit-us.wrapper
        h5.title.page-title Visit Us
        a(href="#")
          p.contact-address 
            | Myanmar Ganad Advertising Co., Ltd.
            br
            | No.37, Aung Chan Thar Road, Quarter 13, Yankin Township, Yangon, Myanmar 11081
        .contact-map
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.7705564018484!2d96.16962951481823!3d16.83773488841012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c19340d21ef7dd%3A0x1681858a0e768aec!2sMyanmar%20Ganad%20Advertising!5e0!3m2!1sen!2smm!4v1595573917847!5m2!1sen!2smm" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        .contact-detail
          h5.title Contact Detail
          .detail-wraper
            .detail-wrap
              .img-wrap
                img.img-fluid(src="./assets/images/uploads/phone.svg", alt="")
              .text-wrap
                a(href="tel:+95 9 450 044 038") +95 9 450 044 038 ,
                a(href="tel:+95 1 733 0142") +95 1 733 0142
            .detail-wrap
              .img-wrap
                img.img-fluid(src="./assets/images/uploads/letter.svg", alt="")
              .text-wrap
                a(href="mailto:marketing@myanmarganad.com") marketing@myanmarganad.com
            .detail-wrap
              .img-wrap
                img.img-fluid(src="./assets/images/uploads/facebook.svg", alt="")
              .text-wrap
                a(href='https://www.facebook.com/ganadOOH', target='_blank') Follow us on facebook
