header
  nav.header-nav
    .container
      .row
        .col-12
          .header-nav-wrap
            ul.img-ul
              li
                a(href='index.html')
                  img(src="./assets/images/icons/logo.png", alt="")
            //- ul.img.flag
            //-   li
            //-     a(href='index.html')
            //-       img(src="./assets/images/uploads/malaysiaflag.svg", alt="")
            //-   li
            //-     a(href='index.html')
            //-       img(src="./assets/images/uploads/myanmarflag.svg", alt="")
            .header-menu-wrap
              ul.menu-ul
                li.active
                  a.upper(href="./index.html") Media Network
                li.dropdown
                  
                  
                  a(href="services.html")
                    | SERVICES
                  a#dropdownMenuButton.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fas.fa-angle-down
                  .dropdown-menu(aria-labelledby='dropdownMenuButton')
                    .shape
                      a.dropdown-item(href='product.html') YANGON INTERNATIONAL AIRPORT
                      a.dropdown-item(href='product.html') LED SCREEN NETWORK
                      a.dropdown-item(href='product.html') MALL INDOOR
                      a.dropdown-item(href='product.html') MALL EXTERNAL
                      a.dropdown-item(href='product.html') LARGE FORMAT
                      a.dropdown-item(href='product.html') YANGON BUS SHELTER
                      a.dropdown-item(href='product.html') RURAL CAMPAIGN


                li.mb-servies-menu
                  .update-mb-menu.d-flex
                    a.upper(href="services.html" onclick="openNav()") 
                      span Services
                    #main
                      a.upper(href="javascript:void(0)" onclick="openNav()")  
                        i.fas.fa-chevron-right

                li
                  a.upper(href="./ourwork.html") Our Work
                li
                  a.upper(href="./aboutus.html") About Us
                li
                  a.upper(href="./career.html") Careers
                li
                  a.upper(href="./contactus.html") Contact Us
              #mySidenav.sidenav
                .container
                  .mb-menu-link
                    .sec-mb-menu
                      a.closebtn.upper(href='javascript:void(0)', onclick='closeNav()') 
                         
                        i.fas.fa-chevron-left
                        span Services
                    .sec-mb-menu
                      a.upper(href='product.html') YANGON INTERNATIONAL AIRPORT 
                    .sec-mb-menu
                      a.upper(href='product.html') LED SCREEN NETWORK
                    .sec-mb-menu
                      a.upper(href='product.html') MALL INDOOR
                    .sec-mb-menu
                      a.upper(href='product.html') MALL EXTERNAL
                    .sec-mb-menu
                      a.upper(href='product.html') LARGE FORMAT
                    .sec-mb-menu
                      a.upper(href='product.html') YANGON BUS SHELTER
                    .sec-mb-menu
                      a.upper(href='product.html') RURAL CAMPAIGN

              
              .menu-ul.header-feature-img
                .row
                  .col-4.feature-col
                    
                    a(href="product.html")
                      .feature-img 
                        img.w-100(src='./assets/images/uploads/1.png' alt='Slide Image')
                        div.caption
                          p Caption
                  .col-4.feature-col 
                    a(href="product.html")
                      .feature-img 
                        img.w-100(src='./assets/images/uploads/1.png' alt='Slide Image')
                        div.caption
                          p Caption
                  .col-4.feature-col 
                    a(href="product.html")
                      .feature-img 
                        img.w-100(src='./assets/images/uploads/1.png' alt='Slide Image')
                        div.caption
                          p Caption
                  .col-4.feature-col
                    a(href="product.html")
                      .feature-img 
                        img.w-100(src='./assets/images/uploads/1.png' alt='Slide Image')
                        div.caption
                          p Caption
                  .col-4.feature-col 
                    a(href="product.html")
                      .feature-img 
                        img.w-100(src='./assets/images/uploads/1.png' alt='Slide Image')
                        div.caption
                          p Caption
                  .col-4.feature-col 
                    a(href="product.html")
                      .feature-img 
                        img.w-100(src='./assets/images/uploads/1.png' alt='Slide Image')
                        div.caption
                          p Caption
                  
              
            .menu-btn
              .menu-icon
        .col-12
          .copy-right
            p.copy-right-txt
              | Copyright © Ganad 2020. 
              span 
                | Powered by 
                a(href="https://innovixdigital.com/", target="_blank") Innovix Digital
//- loading gif file
.preloader-wrapper
  .preloader
    img(src='./assets/images/icons/loading.gif', alt='loading')
