section.banner-section.bg-img
	//- (style="background-image: url('./assets/images/uploads/banner-img.png')")
	video.hero-vdo.vd-large(loop="" muted="" autoplay)
		source(src="./assets/images/uploads/BannerVideo.mp4" type="video/mp4")
	video.hero-vdo.vd-small(loop="" muted="" autoplay)
		source(src="./assets/images/uploads/mb-video.mp4" type="video/mp4")
	.overlay.bg-overlay
	.banner-wrap
		.banner-header
			h1.header.upper Engage
				a.go-to(href="#homeSection-1")
					.arrow.go-to-btn
						span
						span
		.banner-social
			.icon-wrap
				a(href="https://www.facebook.com/ganadOOH" target="_blank")
					i.fab.fa-facebook-f
				//- 31.8.2020
				a(href="https://www.instagram.com/" target="_blank")
					i.fab.fa-instagram
				a(href="https://twitter.com/login" target="_blank")
					i.fab.fa-twitter
	

	//- .banner-txt 
	//-   h1 ENGAGE
	//- .banner-arrow 
	//-   a(href="#")
	//-     img(src="../assets/images/uploads/next.svg", alt="")
		
	//- .banner-iconbar  
	//-   .icon
	//-     a(href="https://www.facebook.com/" target="_blank")
	//-       i.fab.fa-facebook-f
	//-     a(href="https://www.instagram.com/" target="_blank")
	//-       i.fab.fa-instagram
	//-     a(href="https://twitter.com/login" target="_blank")
	//-       i.fab.fa-twitter