section#homeSection-1.home-firsection.section-0
	.firstsec-slider  
		.first-sec.mt-0
			.firstsec-img
				.overlay
				img.img-fluid.img-desk(src="./assets/images/uploads/YangonInternationalAirport.png", alt="")
				img.img-fluid.img-mb(src="./assets/images/uploads/YangonInternationalAirport_mb.png", alt="")
				.slide-desc-wrap
					.slide-desc
						h2 Yangon International airport
						p Reach a captive audience of premium customers, professionals and decision makers.
		.first-sec.mt-0 
			.firstsec-img
				.overlay
				img.img-fluid.img-desk(src="./assets/images/uploads/LEDScreenNetwork.png", alt="")
				img.img-fluid.img-mb(src="./assets/images/uploads/LEDScreenNetwork_mb.png", alt="")
				.slide-desc-wrap
					.slide-desc
						h2 LED Screen Network
						p Digital OOH can be updated quickly and targeted precisely to desire audience faster than broadcast and print media. Can be purchase for shorter campaign.
		.first-sec.mt-0 
			.firstsec-img
				.overlay
				img.img-fluid.img-desk(src="./assets/images/uploads/MallIndoor.png", alt="")
				img.img-fluid.img-mb(src="./assets/images/uploads/MallIndoor_mb.png", alt="")
				.slide-desc-wrap
					.slide-desc
						h2 Mall Indoor
						p Unique access to audience by connecting with fragmented consumers close to the point of purchase in a powerful and dynamic way.
		.first-sec.mt-0 
			.firstsec-img
				.overlay
				img.img-fluid.img-desk(src="./assets/images/uploads/MallExternal.png", alt="")
				img.img-fluid.img-mb(src="./assets/images/uploads/MallExternal_mb.png", alt="")
				.slide-desc-wrap
					.slide-desc
						h2 Mall External
						p To store media in and around key shopping environments, to take advantage of the abnormally high shopper traffic that are visiting supermarkets.
		.first-sec.mt-0 
			.firstsec-img
				.overlay
				img.img-fluid.img-desk(src="./assets/images/uploads/Section_2_LargeFormat.png", alt="")
				img.img-fluid.img-mb(src="./assets/images/uploads/Section_2_LargeFormat_mb.png", alt="")
				.slide-desc-wrap
					.slide-desc
						h2 Large Format
						p Seen by thousands of commuters travelling along this busy main road every day.
		.first-sec.mt-0 
			.firstsec-img
				.overlay
				img.img-fluid.img-desk(src="./assets/images/uploads/CreativeCampaign.png", alt="")
				img.img-fluid.img-mb(src="./assets/images/uploads/CreativeCampaign_mb.png", alt="")
				.slide-desc-wrap
					.slide-desc
						h2 Creative Campaign
						p Creating the campaign of unconventional interaction across prime locations.
		.first-sec.mt-0 
			.firstsec-img
				.overlay
				img.img-fluid.img-desk(src="./assets/images/uploads/YangonBusShelter.png", alt="")
				img.img-fluid.img-mb(src="./assets/images/uploads/YangonBusShelters_mb.png", alt="")
				.slide-desc-wrap
					.slide-desc
						h2 Bus Shelter
						p Situated in the most densely-populated part of Yangon, our network also provides deep localized access.
		
		.first-sec.mt-0 
			.firstsec-img
				.overlay
				img.img-fluid.img-desk(src="./assets/images/uploads/RuralCampaign.png", alt="")
				img.img-fluid.img-mb(src="./assets/images/uploads/RuralCampaign_mb.png", alt="")
				.slide-desc-wrap
					.slide-desc
						h2 Rural Campaign
						p Nationwide campaign can increase the consumer exposure by reaching the wide massive range of Metro Rural people across Myanmar.
		.first-sec.mt-0 
			.firstsec-img
				.overlay
				img.img-fluid.img-desk(src="./assets/images/uploads/Experiential.png", alt="")
				img.img-fluid.img-mb(src="./assets/images/uploads/Experiential_mb.png", alt="")
				.slide-desc-wrap
					.slide-desc
						h2 Experiential
						p Experiential via an installation at Malls, intercepting consumers to promote your brand specifically, drive sign up, and generate customer profiles via questionnaires.
