section.service-map
  .container 
    div#map.map-width
script. 
  InitMap = () => {
    let map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 16.900806, lng: 96.134202},
      zoom: 17
    })
    let cursors = [
      {
        "Longitude":"96.134202",
        "Latitude":"16.900806",
        "MediaCode":"YIA-EXT-0027 ",
        "Location":"Terminal-3, outdoor, gate 27 air side area",
        "Link" : "kjdsfklfdjk"
      },
      {
        "Longitude":"96.131847",
        "Latitude":"16.898919",
        "MediaCode":"YIA-EXT-0028",
        "Location":"Terminal-3, outdoor, gate 29 air side area",
        "Link" : "kjdsfklfdjk"
      }
    ]

    cursors.map(cursor => {
      let marker = new google.maps.Marker({
        position: {
          lat: Number(cursor.Latitude),
          lng: Number(cursor.Longitude)
        }, 
        map,
        title: cursor.MediaCode
      })
      var infowindow = new google.maps.InfoWindow({
        content: `
          <h5>${cursor.MediaCode}</h5>
          <p>
            ${cursor.Location}<br/>
            <a href=${cursor.Link} target="_blank">Get Direction</a>
          </p>
        `
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      })
    })
  }