section.ourstory 
  .container 
    h5.title Our Story
    .story_desc 
      p Ganad is a leading provider of strategic out-of home advertising solutions, operating in Myanmar for over 25 years. We work closely with a wide range of local and international clients from different sectors and industries.
      p Ganad has built up a large in-house delivery team to ensure we provide clients with the best service in term of cost, responsiveness and efficiency. We believe in developing longstanding relationships with clients and partnering with them to exceed their Out of Home marketing objectives.
      p Ganad has the largest, most diverse portfolio of Out of Home media in Myanmar, and is able to offer clients exposure to localized and national audiences across a range of available formats.
      p In Yangon, Ganad is the leader in Digital Out of Home and premium Media Walls with extensive coverage across key environments and exclusive rights for advertising at City Mall @ St. John, Hledan Center, Ocean Tarmwe, Yangon International Airport (Outdoor and Terminal 3), as well as other premium locations.
    .vision_mission
      .row
        .col-12
          .corporate_visio
            .vision_img.wow.fadeInRight(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;") 
              .bg-color
              img(src="./assets/images/icons/growth.svg", alt="")
            .vision_txt
              label.title  Our Corporate Mission
              p To continue laying the ground work for the industry we helped build by providing innovative solutions to the outdoor advertising need of our clients.
          .corporate_visio
            .vision_img.wow.fadeInRight(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")  
              .bg-color
              img(src="./assets/images/icons/vision.svg", alt="")
            .vision_txt  
              label.title  Our Corporate Vision
              p We empower companies by harnessing the power of outdoor advertising to build brand loyal and recognition.


