section.ourclient
	.container 
		h5.title Our Client
		.client-slide-wrap
			#client_slider_res 
				.column-img 
					img.img-fluid(src="./assets/images/uploads/about_cocacola.png", alt="") 
				.column-img 
					img.img-fluid(src="./assets/images/uploads/about_ovaltine.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_nescafe.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_airasia.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_emirates.png", alt="") 
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_unicef.png", alt="") 
				.column-img 
					img.img-fluid(src="./assets/images/uploads/about_100Plus.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_heineken.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_redbull.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_grab.png", alt="") 
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_msi.png", alt="") 
				.column-img 
					img.img-fluid(src="./assets/images/uploads/about_dumex.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_unilever.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_samsung.png", alt="") 
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_ananda.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_babimild.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_bella.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_britishcouncil.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_cbbank.png", alt="")
				//- 
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_brand.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_citymart.png", alt="") 
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_mytel.png", alt="") 
				.column-img 
					img.img-fluid(src="./assets/images/uploads/about_premier.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_sai.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_shark.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_similac.png", alt="") 
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_spy.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_strategyfirst.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_unitedpharma.png", alt="")
				.column-img
					img.img-fluid(src="./assets/images/uploads/about_wah-lah.png", alt="")
			
		
								
			
			