section
  .container
    .row
      .col-4
        .card
          img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/43.jpg', alt='Card image cap')
          .card-body
            h4.card-title
              a Card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's
              | content.
            a.btn.btn-primary(href='#') Button
    
    .row
      .col-4
        .custom-card
          img.img-fluid(src="./assets/images/uploads/card_img.png", alt="")
